@import '_colors';
@import '_dimens';
@import '_widget';

* { margin: 0; }

html, body {
	height: 100%;
	margin: 0px;
	color: $black;
	font-family: Helvetica, sans-serif;
	font-size: $font_size;
}

header#page-header {
	overflow: hidden;
	position: absolute;
	z-index: 100;
	top: 0px;
	left: 0px;
	right: 0px;

	hgroup {
		overflow: hidden;
		width: 100%;
		padding: $text_radius $line_height;
		box-sizing: border-box;
		background-color: $blue;
		color: $white;

		h1 {
			float: left;
			margin: 0px;
			color: $white;
			line-height: 40px;

			a { color: $white; text-decoration: none; }
		}

		#page-logo {
			//display: inline-block;
			float: left;
			width: 40px;
			height: 40px;
			margin-right: $text_radius;
			box-sizing: border-box;
			background-color: $red;
			//border: 6px solid $yellow;
			border-radius: 20px;
			font-size: 24px;
			line-height: 40px;
			text-align: center;
		}

		form {
			float: right;
			padding: 8px 0px;

			label {
				font-weight: bold;
			}

			input[type="text"], input[type="file"], textarea {
				background-color: $white;
				color: $black;
				font-size: 14px;
				line-height: $line_height;
			}

			input[type="button"], input[type="submit"] {
				@include button;
			}
		}
	}
}

div#page-wrapper {
	position: relative;
	padding: 64px 0 0 0;

	min-height: 100%;
	box-sizing: border-box;
}

article#content {
	padding: $page_margin;
	margin-left: 300px;
	min-height: 100%;
	box-sizing: border-box;

	nav#view-tabs {
		padding: 0px $text_radius;
		margin: $text_radius 0px;
	}
}

aside#sidebar {
	position: absolute;
	top: 64px;
	width: 300px;
	box-sizing: border-box;
	background-color: $white;
	padding-left: $page_margin;

	h3 { padding: $text_radius; }
}

@import '_nav';
@import '_report';